/*
  * @package Food Circles
  * Main StyleSheet
*/

/* Fonts */
@font-face {
  font-family: Title Font;
  src: url(../fonts/FugazOne-Regular.woff);
}
/* !Fonts */

/* Default CSS */
:root {
  --primary-color: #a68b7c;
  --secondary-color: #2d2d2d;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #dddddd30;

  --secondary-rgb: 250 191 28;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 95%;
    padding: 0;
  }
}
/* Default CSS */

/* Custom CSS Class */
.text__primary {
  color: var(--primary-color) !important;
}
.text__black {
  color: var(--black-color) !important;
}
.text__secondary {
  color: var(--secondary-color) !important;
}

.btn__primary {
  width: 100%;
  max-width: 200px;
  text-align: center;
  font-size: 1.2rem;
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  margin: 0.3rem 0rem;
  box-shadow: 0px 9px 19px rgb(0 0 0 / 19%);
  transition: 0.2s ease;
}

.btn__primary:hover {
  outline: none;
  background: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
}

.btn__primary:focus {
  outline: none;
}

.section__title,
.section__title span {
  font-size: 4.5rem;
  font-family: "Title Font", cursive;
  color: var(--secondary-color);
}

.section__description {
  font-size: 1.5rem;
  font-style: italic;
}

.section__title__border {
  width: 80px;
  height: 5px;
  background: var(--secondary-color);
}

.follow__us {
  display: flex;
  align-items: center;
  width: max-content;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .follow__us {
    display: block;
  }
}

.follow__us__title {
  margin-right: 1rem;
  margin-bottom: 0;
  color: var(--primary-color);
  font-weight: bold;
}

.follow__us__item {
  font-size: 3rem;
  color: var(--primary-color);
  transition: 0.3s ease;
}

.follow__us__item:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.follow__us.secondary .follow__us__title {
  color: var(--white-color);
}

.follow__us.secondary .follow__us__item {
  color: var(--white-color);
}

.follow__us.secondary .follow__us__item:hover {
  color: var(--secondary-color);
}
/* !Custom CSS Class */

/* Body */
body.hamburger__open {
  height: 100vh;
  overflow-y: hidden;
}
/* !Body */

/* Navigation */
#navigation {
  width: 100%;
  min-height: 70px;
  position: relative;
  top: 0;
  background-color: var(--white-color);
  padding: 0;
  box-shadow: 0 0 10px 0px #00000029;
  z-index: 11;
}

@media only screen and (max-width: 1024px) {
  #navigation {
    position: fixed;
  }
}

#navigation.sticky {
  position: fixed;
}

.navbar-brand {
  width: 100%;
  max-width: 150px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    max-width: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  #nav__menu {
    display: none;
  }
}

.nav-item {
  position: relative;
}

.nav-item:after {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: var(--primary-color);
  border-radius: 0.5rem;
  display: block;
  content: "";
  opacity: 0;
  transition: 0.2s ease-in;
}

.nav-item:hover:after {
  opacity: 1;
}

.nav-item a {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.2s ease;
  padding: 2rem 2rem;
  display: block;
  text-decoration: none;
}

/* .nav-item a:hover {
  color: var(--secondary-color);
} */

@media only screen and (max-width: 1024px) {
  .nav-item a {
    padding: 0.6rem 1em;
  }
}

#hamburger {
  width: max-content !important;
  display: none;
}

@media only screen and (max-width: 1024px) {
  #hamburger {
    display: block;
  }
}

.hamburger__icon {
  width: max-content;
  font-size: 2rem;
  color: var(--primary-color);
  position: relative;
  z-index: 10;
}

.hamburger__menu {
  width: 80%;
  height: 100vh;
  position: absolute;
  right: -100%;
  padding-top: 2rem;
  background: var(--white-color);
  box-shadow: 0px 64px 17px -1px #0000002b;
  transition: 0.5s ease;
}

.hamburger__open .hamburger__menu {
  right: 0;
}
/* !Navigation */

/* Breadcrumb */
#breadcrumb {
  width: 100%;
  padding: 10rem 0;
  background: url(../images/breadcrumb__menu.jpg);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#breadcrumb::after {
  content: "";
  width: 100%;
  height: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/zigzag.png) repeat-x;
}

.breadcrumb__title {
  color: var(--white-color);
  font-size: 4.5rem;
  font-family: "Title Font", cursive;
  margin-bottom: 0;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .breadcrumb__title {
    font-size: 2rem;
  }
}

.breadcrumb__description {
  font-size: 2.5rem;
  color: var(--white-color);
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .breadcrumb__description {
    font-size: 1.5rem;
  }
}
/* !Breadcrumb */

/* ==== !HOME__PAGE ==== */
/* Hero */
#hero {
  width: 100%;
  height: 90vh;
  background: url("../images/hero__bg.jpg");
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title {
  color: var(--white-color);
  font-size: 4.5rem;
  font-family: "Title Font", cursive;
  margin-bottom: 0;
}

.hero__description {
  font-size: 2.5rem;
  color: var(--white-color);
}
@media only screen and (max-width: 444px) {
  .hero__description {
    font-size: 2rem;
  }
}

.hero-btn {
  font-size: 1.2rem;
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  min-width: 200px;
  margin: 0.3rem 0rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.hero-btn:first-child {
  margin-right: 1rem;
}

@media only screen and (max-width: 444px) {
  .hero-btn {
    margin: 0.5rem auto !important;
    display: block;
  }
}

.hero-btn:hover {
  background: var(--secondary-color);
}

.hero-btn:hover,
.hero-btn:focus {
  outline: none;
}
/* !Hero */

/* Intro */
#intro {
  width: 100%;
  height: 100%;
  min-height: 70vh;
  padding: 4rem 0px;
  display: flex;
  position: relative;
  align-items: center;
}

.intro__content {
  align-items: center;
}

.intro__img img {
  width: 90%;
}

@media only screen and (max-width: 992px) {
  .intro__img img {
    width: 100%;
  }
}

.intro__text {
  padding: 1rem;
}

.intro__title {
  color: var(--primary-color);
  font-size: 3.5rem;
  font-family: "Lobster", cursive;
  font-weight: 600;
  margin-bottom: 0;
}

.intro__description {
  color: var(--black-color);
  font-size: 1.5rem;
}
/* !Intro */

/* Delivery */
#delivery {
  width: 100%;
  height: 100%;
  min-height: 70vh;
  padding: 4rem 0px;
  display: flex;
  align-items: center;
  background: url(../images/delivery__bg.jpg);
  background-size: cover;
  background-position: center center;
}

.delivery__logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 650px;
  margin-bottom: 3rem;
}

.delivery__dialog {
  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .delivery__dialog {
    font-size: 1.5rem;
  }
}

.delivery__time {
  color: var(--white-color);
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .delivery__time {
    font-size: 2.5rem;
  }
}
/* !Delivery */

/* Special Menu */
#special__menu {
  padding: 10rem 0px;
}

@media only screen and (max-width: 600px) {
  #special__menu {
    padding: 5rem 0px;
  }
}

.special__menu__grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.2rem;
  justify-content: center;
}

.special__menu__grid {
  margin-top: 1.5rem;
}

.special__menu__item {
  width: 160px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 23px -10px rgb(0 0 0 / 20%);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.special__item__overly {
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  opacity: 0.2;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.2s ease;
}

.special__menu__item:hover > .special__item__overly {
  top: 0;
}

.special__menu__img {
  display: block;
  margin: auto;
  width: 60%;
}

.special__menu__item__name {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.2rem;
}

.special__menu__item__description {
  text-align: center;
  display: none;
}

.special__menu__btn {
  display: block;
  margin: 1rem auto 0 auto;
}
/* !Special Menu */

/* Rating */
#rating {
  width: 100%;
  padding: 10rem 0;
  background: var(--gray-color);
}

@media only screen and (max-width: 600px) {
  #rating {
    padding: 6rem 0px;
  }
}

.rating__wrapper {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 1.5rem;
}
.rating__item__wrapper {
  width: 100%;
  min-width: 100%;
  padding: 1rem;
  margin-left: 0px;
  transition: 0.5s ease;
}

.rating__item {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--white-color);
  box-sizing: border-box;
}

.rating__item__wrapper.active .rating__item {
  box-shadow: 0 0 17px -5px #0000001f;
}

.client__icon {
  width: 100px;
  height: 100px;
  margin: 0px auto 1rem auto;
  overflow: hidden;
  display: flex;
  align-items: baseline;
  justify-content: center;
  border-radius: 5rem;
}

.client__icon img {
  width: 100%;
}

.client__name {
  font-size: 1.2rem;
  text-align: right;
  font-style: italic;
  position: relative;
}

.client__name::before {
  content: "";
  width: 30px;
  height: 1px;
  margin-left: -40px;
  background: var(--secondary-color);
  position: absolute;
  top: 48%;
}

.client__feedback {
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 0.2rem;
}

.client__rating__wrapper {
  display: flex;
  justify-content: space-between;
}

.rating__slide_icon {
  cursor: pointer;
}

.client__rating {
  text-align: center;
}

#rating .checked {
  color: orange;
}
/* !Rating */
/* ==== !HOME__PAGE ==== */

/* ==== Menu__PAGE ==== */
/* Menu */
#menu {
  width: 100%;
  height: 100%;
  padding: 10rem 0px;
}

.menu__category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0px;
}

.menu__category__item {
  padding: 0.5rem 1.6rem;
  margin: 0.3rem;
  background: var(--gray-color);
  color: var(--secondary-color);
  transition: 0.2s ease;
}

.menu__category__item.active {
  background: var(--primary-color);
  color: var(--white-color);
}

.menu__category__item:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--white-color);
}

.menu__item__col {
  padding: 1rem;
}

.menu__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #00000036;
}

.menu__item:hover {
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .menu__item {
    display: block;
  }
}

.menu__item__img {
  width: 110px;
}

@media only screen and (max-width: 992px) {
  .menu__item__img {
    width: 200px;
    display: block;
    margin: 0px auto 1rem auto;
  }
}

.menu__item__details {
  margin-left: 1rem;
}

.menu__item__name__price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0.5rem;
}

.menu__item__name {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 500;
}

.menu__item__price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black-color);
}

.menu__subitem_wrapper {
  margin: 2rem 0;
}

.menu__subitem {
  position: relative;
  display: flex;
  align-items: center;
}

.menu__subitem::before {
  content: "";
  width: 10px;
  height: 1px;
  margin-right: 0.5rem;
  background: var(--secondary-color);
}
/* !Menu */

/* ==== !Menu__PAGE ==== */

/* ==== Contact__PAGE ==== */
/* Breadcrumb Box */
#breadcrumb__box {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4rem 0 14rem 0;
  background-color: var(--gray-color);
}

#breadcrumb__box .breadcrumb__title {
  font-size: 4.5rem;
  text-align: center;
}

.breadcrumb__box {
  width: 95%;
  max-width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  background: var(--white-color);
  box-shadow: 0 0 10px #00000017;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
}

.contact__form input,
.contact__form textarea {
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none !important;
  box-shadow: none !important;
  color: var(--secondary-color);
  border-color: var(--secondary-color) !important;
  font-weight: bold;
  border-radius: 0;
}
/* !Breadcrumb Box */

/* Map */
#map {
  height: 700px;
  display: flex;
}

#map .container-fluid {
  padding: 0;
}
/* !Map */
/* ==== !Contact__PAGE ==== */

/* ==== About__PAGE ==== */
/* About */
#about {
  width: 100%;
  height: 100%;
  padding: 10rem 0px;
}

.about__content {
  margin: 2rem 0px;
}

.about__content h1 {
  font-size: 1.5rem;
}

.about__content p {
  text-align: justify;
}
/* !About */
/* ==== !About__PAGE ==== */

/* Footer */
#footer {
  width: 100%;
  padding: 2rem 0;
  background: var(--primary-color);
  position: relative;
}

@media only screen and (max-width: 600px) {
  #footer {
    padding: 5rem 0 0.5rem 0rem;
  }
}

.footer__logo {
  width: 100%;
}

.footer__logo__img {
  margin: auto;
  display: block;
  max-width: 250px;
  width: 100%;
}

.footer__subscribe {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding-top: 2rem;
}

.footer__subscribe__title {
  text-align: center;
  font-weight: bold;
  color: var(--white-color);
}

.footer__subscribe__form {
  padding: 2rem 0px;
}

.footer__btn {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background: var(--white-color);
  color: var(--primary-color);
  font-weight: 600;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  min-width: 200px;
  margin: 0.3rem 0rem;
  transition: 0.2s ease;
}

.footer__btn:hover,
.footer__btn:focus {
  outline: none;
  background: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
}

#footer input[type="text"] {
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  box-shadow: none;
  color: #fff;
  border-color: #fff;
  font-weight: bold;
  border-radius: 0;
}

#footer input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.767);
  font-weight: bold;
  font-style: italic;
}

.contact__info {
  text-align: center;
  margin-top: 3rem;
}

.contact__item {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .contact__item {
    margin-bottom: 0.5rem;
  }
}

.contact__info__link {
  color: var(--white-color);
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s ease;
}

.contact__info__link:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
  .contact__info__link {
    font-size: 1.2rem;
  }
}

.contact__info__icon {
  margin-right: 1rem;
}
/* !Footer */

/* Copyright */
#copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

#copyright .container {
  border-top: 1px solid var(--white-color);
}

#copyright p {
  padding: 1.3rem 0px;
  margin-bottom: 0;
  color: var(--white-color);
  text-align: center;
  font-size: 1.2rem;
}
/* !Copyright */
