/*
  * @package Food Circles
  * Main StyleSheet
*/

/* Fonts */
@font-face {
  font-family: Title Font;
  src: url(../fonts/Bulletto_Killa.woff);
}
/* !Fonts */

/* Default CSS */
:root {
  --primary-color: #a9272e;
  --secondary-color: #2d2d2d;
  --white-color: #fff;
  --black-color: #000;

  --secondary-rgb: 250 191 28;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 95%;
    padding: 0;
  }
}
/* Default CSS */

/* Custom CSS Class */
.text-primary {
  color: var(--primary-color) !important;
}

.text-black {
  color: var(--black-color) !important;
}
/* !Custom CSS Class */

/* Body */
body.hamburger-open {
  height: 100vh;
  overflow-y: hidden;
}
/* !Body */

/* Navigation */
#navigation {
  width: 100%;
  min-height: 70px;
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  padding: 0;
  box-shadow: 0 0 30px -1px #000000a3;
  z-index: 11;
}

.navbar-brand {
  width: 100%;
  max-width: 150px;
  position: absolute;
  top: 0.2rem;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    max-width: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  #nav-menu {
    display: none;
  }
}

.nav-item {
  position: relative;
}

.nav-item:after {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: var(--secondary-color);
  border-radius: 0.5rem;
  display: block;
  content: "";
  opacity: 0;
  transition: 0.2s ease-in;
}

.nav-item:hover:after {
  opacity: 1;
}

.nav-item a {
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.2s ease;
  padding: 2rem 2rem;
  display: block;
  text-decoration: none;
}

.nav-item a:hover {
  color: var(--secondary-color);
}

@media only screen and (max-width: 1024px) {
  .nav-item a {
    padding: 0.6rem 1em;
  }
}

#hamburger {
  display: none;
}

@media only screen and (max-width: 1024px) {
  #hamburger {
    display: block;
  }
}

.hamburger-icon {
  width: max-content;
  font-size: 2rem;
  color: var(--white);
  position: relative;
  z-index: 10;
}

.hamburger-menu {
  width: 80%;
  height: 100vh;
  position: absolute;
  right: -100%;
  padding-top: 2rem;
  background: var(--primary-color);
  box-shadow: 0 20px 30px -1px #000000a3;
  transition: 0.5s ease;
}

.hamburger-open .hamburger-menu {
  right: 0;
}
/* !Navigation */

/* Hero */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../images/hero-1.jpg");
  background-size: cover !important;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: var(--white-color);
  font-size: 4.5rem;
  font-family: "Title Font", cursive;
  margin-bottom: 0;
}

.hero-description {
  font-size: 2.5rem;
  color: var(--white-color);
}
@media only screen and (max-width: 444px) {
  .hero-description {
    font-size: 2rem;
  }
}

.hero-btn {
  font-size: 1.2rem;
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  min-width: 200px;
  margin: 0.3rem 0rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.hero-btn:first-child {
  margin-right: 1rem;
}

@media only screen and (max-width: 444px) {
  .hero-btn {
    margin: 0.5rem auto !important;
    display: block;
  }
}

.hero-btn:hover {
  background: var(--secondary-color);
}

.hero-btn:hover,
.hero-btn:focus {
  outline: none;
}
/* !Hero */

/* Intro */
#intro {
  width: 100%;
  height: 100%;
  min-height: 70vh;
  padding: 4rem 0px;
  display: flex;
  position: relative;
  align-items: center;
}

.intro-content {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .intro-content {
    display: block;
  }
}

.intro-img {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.intro-text {
  padding: 1rem;
}

.intro-title {
  color: var(--primary-color);
  font-size: 3.5rem;
  font-family: "Lobster", cursive;
  font-weight: 600;
  margin-bottom: 0;
}

.intro-description {
  color: var(--black-color);
  font-size: 1.5rem;
}

.intro-btn {
  font-size: 1.2rem;
  border: none;
  background: var(--primary-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  min-width: 200px;
  margin: 0.3rem 0rem;
  box-shadow: 0px 9px 19px rgb(199 185 23 / 50%);
  transition: 0.2s ease;
}

.intro-btn:hover,
.intro-btn:focus {
  outline: none;
  background: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
}
/* !Intro */

/* Delivery */
#delivery {
  width: 100%;
  height: 100%;
  min-height: 70vh;
  padding: 4rem 0px;
  display: flex;
  align-items: center;
  background: url(../images/delivery-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.delivery-logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 650px;
  margin-bottom: 3rem;
}

.delivery-dialog {
  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .delivery-dialog {
    font-size: 1.5rem;
  }
}

.delivery-time {
  color: var(--white-color);
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .delivery-time {
    font-size: 2.5rem;
  }
}
/* !Delivery */

/* Special Menu */
#special-menu {
  padding: 10rem 0px;
}

@media only screen and (max-width: 600px) {
  #special-menu {
    padding: 5rem 0px;
  }
}

.special-menu-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.2rem;
  justify-content: center;
}

.special-menu-title,
.special-menu-title span {
  font-size: 4.5rem;
  font-family: "Title Font", cursive;
  color: var(--secondary-color);
}

.special-menu-description {
  font-size: 1.5rem;
  font-style: italic;
}

.special-menu-grid {
  margin-top: 1.5rem;
}

.special-menu-item {
  width: 160px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 23px -10px rgb(0 0 0 / 20%);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.special-item-overly {
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  opacity: 0.2;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.2s ease;
}

.special-menu-item:hover > .special-item-overly {
  top: 0;
}

.special-menu-img {
  display: block;
  margin: auto;
  width: 60%;
}

.special-menu-item-name {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.special-menu-item-description {
  text-align: center;
  display: none;
}
/* !Special Menu */

/* Rating */
#rating {
  width: 100%;
  padding: 10rem 0;
  background: #dddddd42;
}

@media only screen and (max-width: 600px) {
  #rating {
    padding: 6rem 0px;
  }
}

.rating-title,
.rating-title span {
  color: var(--secondary-color);
  font-size: 4.5rem;
  font-family: "Title Font", cursive;
  margin-bottom: 0;
  text-align: center;
}

.rating-description {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.rating-title-border {
  width: 80px;
  height: 5px;
  background: var(--secondary-color);
  margin: auto;
}

.rating-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 1.5rem;
}

.rating-item {
  width: 280px;
  min-width: 31.2%;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--white-color);
  box-sizing: border-box;
  box-shadow: 0 0 24px -5px #0000004d;
}

@media only screen and (max-width: 1024px) {
  .rating-item {
    min-width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .rating-item {
    min-width: 94%;
  }
}

.client-icon {
  width: 100px;
  height: 100px;
  margin: 1rem auto;
  overflow: hidden;
  display: flex;
  align-items: baseline;
  justify-content: center;
  border-radius: 5rem;
}

.client-icon img {
  width: 100%;
}

.client-name {
  text-align: center;
  margin-bottom: 0rem;
}

.client-feedback {
  text-align: center;
  margin-bottom: 0.2rem;
}

.client-rating {
  text-align: center;
}

#rating .checked {
  color: orange;
}
/* !Rating */

/* Footer */
#footer {
  width: 100%;
  padding: 5rem 0rem;
  background: var(--primary-color);
  position: relative;
}

.footer-logo {
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0;
}

.footer-logo-img {
  margin: auto;
  display: block;
  max-width: 250px;
  width: 100%;
}

.footer-subscribe {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding-top: 100px;
}

.footer-subscribe-title {
  text-align: center;
  font-weight: bold;
  color: var(--white-color);
}

.footer-subscribe-form {
  padding: 2rem 0px;
}

.footer-btn {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background: var(--white-color);
  color: var(--primary-color);
  font-weight: 600;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  min-width: 200px;
  margin: 0.3rem 0rem;
  transition: 0.2s ease;
}

.footer-btn:hover,
.footer-btn:focus {
  outline: none;
  background: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
}

#footer input[type="text"] {
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  box-shadow: none;
  color: #fff;
  border-color: #fff;
  font-weight: bold;
  border-radius: 0;
}

#footer input[type="text"]::placeholder {
  color: #fff;
  font-weight: bold;
}

.follow-us {
  display: flex;
  align-items: center;
  width: max-content;
  margin: auto;
}

.follow-us-title {
  margin-right: 1rem;
  margin-bottom: 0;
  color: var(--white-color);
  font-weight: bold;
}

.follow-us-item {
  font-size: 3rem;
  color: var(--white-color);
}

.follow-us-item:hover {
  text-decoration: none;
}

.contact-info {
  text-align: center;
  margin-top: 3rem;
}

.contact-info-link {
  color: var(--white-color);
  font-size: 1.7rem;
  text-align: center;
}

.contact-info-link:hover {
  text-decoration: none;
}

.contact-info-icon {
  margin-right: 1rem;
}
/* !Footer */

/* Copyright */
#copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

#copyright .container {
  border-top: 1px solid var(--white-color);
}

#copyright p {
  padding: 1.3rem 0px;
  margin-bottom: 0;
  color: var(--white-color);
  text-align: center;
  font-size: 1.2rem;
}
/* !Copyright */
